//FONTS
$roboto: 'Lato',
sans-serif;
//COLOR
$rojo: #ff0a00;
$negro: #000;
$grisbg:#f9f9f9;
$grisbtn:#cecece;
$grisprice: #979797;
$blanco: #fff;
$grisiva: #8b8b8b;
$footer: #3d3d3d;
//Fonts size
$title: 1.5rem;
$txtbtn:1rem;
$price:1.25rem;
$pricetachado:0.875rem;
$shortdesc:.813rem;
$iva-sku: .625rem;
$footer-item: 1.25rem;
//Icons